<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link href="~/assets/css/createPlayer.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form | CodingLab</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Thêm mới</span></div>
            <form action="#">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Tên người chơi" required>
                </div>
                <div class="row">
                    <i class="fas fa-phone"></i>
                    <input type="text" placeholder="Số điện thoại" required>
                </div>
                <div class="row">
                    <i class="fas fa-calculator"></i>
                    <input type="number" placeholder="Tỷ lệ sáp" required>
                </div>
                <div class="row">
                    <i class="fas fa-calculator"></i>
                    <input type="number" placeholder="Tỷ lệ thưởng" required>
                </div>
                <div class="row">
                    <i class="fas fa-calculator"></i>
                    <input type="number" placeholder="Tỷ lệ ba càng" required>
                </div>
                <div class="row button">
                    <input type="submit" value="Đăng ký">
                </div>
                <div class="signup-link">Người chơi đã có trong danh bạ? <a href="#"> Trang tính!</a></div>
            </form>
        </div>
    </div>

</body>
</html>