
@media only screen and (max-width: 600px) {
	
}

.container {
	display: flex;
	flex-flow: column;
	margin-top: 12px;
	max-width: 900px;
	overflow: auto;
}

.btn-custom {
	height: 28px;
	font-size: 12px;
	border-radius: 4px;
	font-weight: 400;
	line-height: 1.4;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid rgb(7, 171, 226);
	color: rgb(7, 171, 226);
	background: white;
}

.span {
	margin-left: 5px;
	font-size: 15px;
	font-weight: 800;
}

.div-calculate-result {
	margin-top: 30px;
	margin-bottom:-3px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 50px;
}

	.div-calculate-result .div-calculate {
		display: flex;
		flex-flow: row;
		gap: 30px;
	}

		.div-calculate-result .div-calculate div {
			display: flex;
			flex-flow: column;
			align-items: center;
			text-align: center;
		}

			.div-calculate-result .div-calculate div button {
				height: 52px;
			}

			.div-calculate-result .div-calculate div input {
				height: 28px;
				width: 60px;
			}

	.div-calculate-result .div-result {
		display: flex;
		flex-flow: row;
		gap: 30px;
		margin-top: 8px;
	}

		.div-calculate-result .div-result div {
			display: flex;
			flex-flow: column;
			align-items: center;
			text-align: center;
		}

.bordered-div {
	border: 1.5px dashed #e3165b;
	padding: 10px;
	padding-bottom: 15px;
	position: relative;
	display: none;
	margin-top: 50px;
	min-width: 700px;
}

	.bordered-div .div-row {
		display: flex;
		margin-top: 20px;
		gap:30px;
	}
		.bordered-div .div-row .div-comboLoDeXien {
			width: 150px;
		}

		.bordered-div .div-row .div-select-nhaDai {
			flex: 1;
		}

		.bordered-div .div-row .div-select-number {
			flex: 1;
		}

		.bordered-div .div-row .div-nhap-so-diem {
			width: 70px;
		}

			.bordered-div .div-row .div-nhap-so-diem .nhap-so-diem {
				display: flex;
			}

				.bordered-div .div-row .div-nhap-so-diem .nhap-so-diem input {
					height: 38px;
					width: 52.5px;
				}

				.bordered-div .div-row .div-nhap-so-diem .nhap-so-diem i {
					flex: 1;
					margin-top: 10px;
					cursor: pointer;
					margin-left: 5px;
					font-size: 16px;
					color: #d9534f;
					display: none;
				}
		.bordered-div .div-row .div-input-ty-le-ba-so {
		}

			.bordered-div .div-row .div-input-ty-le-ba-so input {
				width: 52.5px;
			}

	.bordered-div .div-btn-add-row {
		display: flex;
		flex-flow: column;
		align-items: flex-end;
		margin-top: 8px;
		width: 100%;
	}

		.bordered-div .div-btn-add-row button {
			margin-right: 17px;
		}

			.bordered-div .div-btn-add-row button i {
				margin-left: 5px;
			}

.name-input {
	position: absolute;
	top: -15px;
	left: 10px;
	background-color: white;
	padding: 2px;
	border: none;
}

.btn-danger {
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	position: absolute;
	top: -15px;
	right: 10px;
	padding: 2px;
	border: none;
	display: none;
}

.box-more-message {
	background-color: white;
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	margin-top: 10px;
	margin-bottom: -8px;
	display: none;
}

	.box-more-message .box-more-message-title {
		font-size: 14px;
		width: 100%;
		background-color: #e9eaef;
		color: rgb(7, 171, 226);
	}

		.box-more-message .box-more-message-title span {
			margin-right: 2px;
			cursor: pointer;
		}

			.box-more-message .box-more-message-title span:hover {
				text-decoration: underline;
			}

	.box-more-message .box-more-message-content {
		text-align: start;
		min-height: fit-content;
		transition: min-height 1s ease;
		padding: 10px 10px 5px 10px;
		display: flex !important;
		flex-flow: row !important;
		gap: 5px;
	}

		.box-more-message .box-more-message-content .box-more-message-content-✓ {
			width: 16px;
			height: 16px;
			text-align: center;
			font-size: 12px;
			border-radius: 50%;
			font-weight: 600;
			background-color: #5cb85c;
			color: white;
		}

		.box-more-message .box-more-message-content .box-more-message-content-detailt {
			width: calc(100% - 25px);
			font-size: 13px;
		}


.phonebook-import {
	color: #e3165b;
	font-size: 22px;
	position: absolute;
	top: -15px;
	left: 200px;
	background-color: white;
	padding: 2px;
	border: none;
	cursor: pointer;
}


.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	flex-flow: row;
	justify-content: center;
}

	.modal .modal-dialog {
		width: 100%;
	}

		.modal .modal-dialog .modal-content {
			padding: 10px;
			width: 100%;
			height: 60vh;
		}

			.modal .modal-dialog .modal-content .div-list-player {
				background-color: white;
				border-radius: 10px;
				padding: 10px;
			}

				.modal .modal-dialog .modal-content .div-list-player .row-player {
					margin-bottom: 10px;
				}

					.modal .modal-dialog .modal-content .div-list-player .row-player .head-row-player {
						display: flex;
						border-bottom: 1px solid #eee;
						justify-content: space-between !important;
					}

						.modal .modal-dialog .modal-content .div-list-player .row-player .head-row-player h4 {
							font-size: 15px;
						}

						.modal .modal-dialog .modal-content .div-list-player .row-player .head-row-player i {
							flex: 1;
							margin-top: 2px;
							margin-right: 10px;
							cursor: pointer;
							margin-left: 5px;
							font-size: 16px;
							color: #d85261;
						}

					.modal .modal-dialog .modal-content .div-list-player .row-player .div-info {
						display: flex;
						flex-flow: row;
						gap: 30px;
						margin-top: 8px;
					}

						.modal .modal-dialog .modal-content .div-list-player .row-player .div-info div {
							display: flex;
							flex-flow: column;
							align-items: center;
							text-align: center;
						}

			.modal .modal-dialog .modal-content .margin-bottom-row {
				margin-top: 5px;
				border-bottom: 1px solid #e3165b;
			}