@media only screen and (max-width: 600px) {
    .box-add-new-player {
        font-size: 14px !important;
        min-height: 45px !important;
    }
        .box-add-new-player i {
            font-size: 20px !important;
            margin: 0px 18px !important;
        }

    .container {
        font-size: 11px !important;
        margin-top: -10px !important;
    }

    .wrapper .title {
        height: 50px !important;
        font-size: 20px !important;
    }

    input::placeholder {
        font-size: 12px !important;
    }
    .div-list-player .row-player .div-info {
        gap: 12px !important;
    }

    .icon-execute i {
        font-size: 14px !important;
    }
}

