.container {
    display: flex;
    flex-flow: column;
    margin-top: 12px;
    max-width: 900px;
    height: 100vh;
}

.heading {
    margin: 20px 0px 15px;
    /*color: #e3165b;*/
}

.box-add-new-player {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    height: 60px;
    border: 1px dashed rgb(216, 216, 216);
    margin: 0px 0px 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

    .box-add-new-player i {
        color: #e3165b;
        font-size: 25px;
        margin: 0px 20px;
    }

    .box-add-new-player span {
        color: #e3165b;
    }

.div-list-player {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

    .div-list-player .row-player {
        margin-bottom: 10px;
    }

        .div-list-player .row-player .head-row-player {
            display: flex;
            border-bottom: 1px solid #eee;
            justify-content: space-between !important;
        }

            .div-list-player .row-player .head-row-player i {
                flex: 1;
                margin-top: 2px;
                margin-right: 8px;
                cursor: pointer;
                margin-left: 5px;
                font-size: 16px;
                color: #d9534f;
            }

        .div-list-player .row-player .div-info {
            display: flex;
            flex-flow: row;
            gap: 30px;
            margin-top: 8px;
        }

            .div-list-player .row-player .div-info div {
                display: flex;
                flex-flow: column;
                align-items: center;
                text-align: center;
            }

.margin-bottom-row {
    margin-top: 5px;
    border-bottom: 1px solid #e3165b;
}
