@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Extentions;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Typescript UI Controls">
<meta name="author" content="Syncfusion">
<link href="styles.css" rel="stylesheet">
<link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-base/styles/material.css" rel="stylesheet">
<link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-inputs/styles/material.css" rel="stylesheet">
<link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-dropdowns/styles/material.css" rel="stylesheet">
<link href="https://cdn.syncfusion.com/ej2/22.2.5/ej2-buttons/styles/material.css" rel="stylesheet">
<script src="https://cdn.syncfusion.com/ej2/22.2.5/dist/ej2.min.js" type="text/javascript"></script>
<script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type="text/javascript"></script>
<html>
<head>
    <style>

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }

        .container {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-top: 12px;
            width: 100%;
        }
        .div_btn_add_row {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            margin-top: 8px;
            width: 100%;
        }
        .btn_add_custom {
            height: 28px;
            font-size: 12px;
            border-radius: 4px;
            font-weight: 400;
            line-height: 1.4;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            cursor: pointer;
            border: 1px solid rgb(7, 171, 226);
            color: rgb(7, 171, 226);
            background: white;
        }
        .span {
            margin-left: 5px;
            font-size: 15px;
            font-weight: 800;
        }
        .div_result {
            display: flex;
            flex-flow: column;
            align-items: start;
            margin-top: 20px;
            width: 100%;
        }
    </style>
</head>
<body>
    @Html.AntiForgeryToken()
    <div class="container">
        <div style="width:900px;">
            <button style="background: forestgreen !important;" class="btn-core-accept">Thêm</button>
            <div id="div_calculate">
                <div id="div_row" style="margin-top:20px;" class="row">
                    <div class="col-2">
                        <select id="filterStatus" class="form-select" aria-label="Default select example">
                            @{
                                foreach (var item in Enum.GetValues(typeof(LotteryEnum)))
                                {
                                    <option value="@((int)item)"> @StringExtension.GetDescription((Enum)item)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-4">
                        <div>
                            <select id="selectNhaDai">
                                <optgroup label="Phía Bắc">
                                    <option value="1">Hà Nội</option>
                                    <option value="2">Bắc Ninh</option>
                                    <option value="3">Thanh Hóa</option>
                                </optgroup>
                                <optgroup label="Phía Nam">
                                    <option value="4">Sài Gòn</option>
                                    <option value="5">Đồng Nai</option>
                                    <option value="6">Đồng Tháp</option>
                                </optgroup>

                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div>
                            <!--element which is going to render the MultiSelect-->
                            <input type="text" tabindex="1" id="select_number">
                        </div>
                    </div>
                    <div class="col-2">
                        <div id="box_login_form_account" class="box-input-login">
                            <input style="height:38px;width:100px;" id="nhap_so_diem" type="number" onKeyUp="validaeInPutNhapSoDiem()" required maxlength="10" placeholder="Nhập số">
                        </div>
                    </div>
                </div>
                <div class="div_btn_add_row">
                    <button id="btn_add_row" style="margin-right: 25px;" class="btn_add_custom btn-core-accept">Thêm dòng</button>
                </div>
                <div id="div_result" class="div_result">
                    <div style="display:flex;gap:10px;">
                        <button id="btn_send_result" style="" class="btn_add_custom btn-core-accept">Tính tiền</button>
                        <input style="height:28px;width:50px;" id="input_ty_le_sap" required maxlength="4" placeholder="" type="number" onKeyUp="validaeInPutTyLeSap()" value="0.75">
                        <p id="validationMessage"></p>
                    </div>
                    <div class="row" style="margin-top: 15px; min-width: 320px;">
                        <span class="col-4">Tiền xác</span>
                        <span class="col-4">Tiền thưởng</span>
                        <span id="lable_viewTong" class="col-4"></span>
                    </div>
                    <div class="row" style="margin-top: 15px;display:none">
                        <span id="lable_xac1" class="col-4">lable_xac1</span>
                        <span id="lable_thuong1" class="col-4">lable_thuong1</span>
                        <span id="lable_tong1" class="col-4">lable_tong1</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        // initialize MultiSelect component
        var sportsData = [];
        for (var i = 0; i < 100; i++) {
            // Chuyển số i thành chuỗi, và nếu chiều dài của chuỗi < 2, thêm '0' ở trước
            var numberStr = i < 10 ? '0' + i : i.toString();

            // Thêm chuỗi numberStr vào mảng sportsData
            sportsData.push(numberStr);
        }
        var listObj = new ej.dropdowns.MultiSelect({
            dataSource: sportsData,
            placeholder: "Chọn số"
        });
        listObj.appendTo('#select_number');
        
        // initialize MultiSelect component have groupBy 
        var listObj = new ej.dropdowns.MultiSelect({
            placeholder: "Chọn nhà đài"
        });
        listObj.appendTo('#selectNhaDai');


        $('#btn_add_row').click(function (e) {
            var originalElement = document.getElementById("div_row");
            // Sao chép phần tử
            var clonedElement = originalElement.cloneNode(true);
            // Thêm phần tử sao chép vào một vị trí cụ thể trong DOM (ví dụ: sau phần tử gốc)
            originalElement.parentNode.insertBefore(clonedElement, originalElement.nextSibling);
        });

        function validaeInPutTyLeSap() {
            var val = document.getElementById("input_ty_le_sap");
            const value = parseFloat(val.value);
            if (isNaN(value) || value < 0 || value >= 1) {
                val.value = "0.75";
            }
        }

        function validaeInPutNhapSoDiem() {
            var val = document.getElementById("nhap_so_diem");
            const value = parseFloat(val.value);
            if (value < 0) {
                val.value = "0";
            }
        }

    </script>
</body>
</html>



